<!DOCTYPE html>
{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<html>
<head>
	<f:section name="stylesheets">
		<!-- put your stylesheet inclusions here, they will be included in your website by TypoScript -->
	</f:section>
	<f:section name="scripts">
		<!-- put your scripts inclusions here, they will be included in your website by TypoScript -->
	</f:section>
</head>
<body>
<f:section name="body">
	<nav class="menu">
		{parts.menu -> f:format.raw()}
	</nav>
	<nav class="breadcrumb">
		{parts.breadcrumb -> f:format.raw()}
	</nav>
	<div class="content">
		{content.main -> f:format.raw()}
	</div>
</f:section>
</body>
</html>
