{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<f:layout name="DefaultPage" />


<f:section name="Resources">
	<f:render partial="PageObjects" section="BootstrapResources" />
	<v:asset.style>
		body {
			padding-top: 50px;
			padding-bottom: 50px;
		}
	</v:asset.style>
</f:section>

<f:section name="Content">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Navigation ausklappen</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Christoph Stach</a>
			</div>

			<nav class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<v:page.menu.directory pages="1">
						<f:for each="{menu}" as="item" iteration="iteration">
							<f:if condition="{item.current} == {FALSE}">
								<f:then>
									<li><a href="{item.link}">{item.title}</a></li>
								</f:then>
								<f:else>
									<li class="active"><a href="{item.link}">{item.title}</a></li>
								</f:else>
							</f:if>
						</f:for>
					</v:page.menu.directory>
				</ul>
			</nav>
		</div>
	</div>

	<div class="jumbotron">
		<header class="container">
			<div class="row">
				<div class="col-md-3 text-center">
					<f:image class="img-circle" src="EXT:christoph_stach_page/Resources/Public/Images/brand-logo-2.png" height="156" alt="Christoph Stach" />
				</div>
				<div class="col-md-9">
					<h1>
						Christoph Stach<br />
						<small>TYPO3-, PHP-, ExtJS-Entwickler</small>
					</h1>
				</div>
			</div>
		</header>
	</div>

	<div class="container">
		<!--TYPO3SEARCH_begin-->
		<v:page.content.render column="0" />
		<!--TYPO3SEARCH_end-->
	</div>

	<footer class="navbar navbar-inverse navbar-fixed-bottom">
		<div class="container">
			<ul class="nav navbar-nav pull-left">
				<li>
					<a href="http://www.christoph-stach.de/">&copy; Christoph Stach</a>	
				</li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li class="pull-left">
					<a href="https://bitbucket.org/cstach/" title="BitBukket" target="_blank">
						<span class="font-awesome font-awesome-bitbucket"></span>
					</a>
				</li>
				<li class="pull-left">
					<a href="https://www.xing.com/profile/Christoph_Stach" title="Xing" target="_blank">
						<span class="font-awesome font-awesome-xing"></span>
					</a>
				</li>
			</ul>
		</div>
	</footer>
</f:section>