{namespace v=Tx_Vhs_ViewHelpers}
{namespace less=Stach\CsLess\ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
    <f:section name="BootstrapResources">
        <v:asset.script path="typo3conf/ext/christoph_stach_page/Resources/Public/Scripts/jquery-1.10.2.min.js" />
        <v:asset.script path="typo3conf/ext/christoph_stach_page/Resources/Public/Scripts/bootstrap.min.js" />
        <less:style href="typo3conf/ext/christoph_stach_page/Resources/Public/Styles/Bootstrap/bootstrap.less" />
    </f:section>
</div>